/*=  COLORS*/

.color-grey{
    color: #5f6368;
}

.bg-color-light-grey{
background-color: #eee;
}

/*= GENERALS */
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
  text-decoration: none;
}

.font-10{
  font-size: 10px; 
}

/*= BODY */
/*? MAIN */
 header{
position: fixed;
z-index: 1;
background-color: #fff;
 }

 /*? FOOTER */
 footer li:not(:first-child):before {
  content: "\0000b7";
  padding-right :5px;
}